.activity {
    width: 300px;
    height: 510px;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 8px;
    position: relative;

}

.activity img {
    width: 286px;
    height: 300px;
    border-radius: 10px;
    margin: 7px;
}

.activity-name {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 22px;
    color: rgb(6, 81, 111);


}

.activity-time {
    font-weight: 500;
    font-size: 20px;
    color: rgb(6, 81, 111);
}

.activity-info {
    margin: 0 14px;
}

.btn-add {
    width: 100%;
    background-color: deepskyblue;
    border: none;

    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add p {
    color: aliceblue;
}